* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

/* App */
.app {
  background-image: url('./assets/rain.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.warm {
  background-image: url('./assets/warm.png');
}

.app.rain__bg {
  min-height: 100vh;
  background-color: rgba(0, 102, 189, 0.67);
  padding: 25px;
}

.app.warm__bg {
  min-height: 100vh;
  background-color: rgba(255, 100, 100, 0.67);
  padding: 25px;
}

.main {
  min-height: 100vh;
  background-color: rgba(0, 102, 189, 0.67);
  padding: 25px;
}

.main.warm {
  min-height: 100vh;
  background-color: rgba(255, 100, 100, 0.67);
  padding: 25px;
}

/* Search */
.search-box {
  width: 100%;
  margin: 0 0 50px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px 15px 15px 30px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,1);
  border-radius: 0;
  margin-top: 20px;

  box-shadow: 0px 2px 4px rgba(0,0,0,0.32);
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  font-family: 'lucida grande', sans-serif;

  transition: 0.4s ease;
}

.search-box .search-bar::placeholder { 
  font-family: 'lucida grande', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: rgba(59,59,59, 0.25);

}
.search-box .search-bar:focus {
  /* background-color: rgba(255,255,255,0.75); */
  box-shadow: 0px 2px 7px rgba(0,0,0,0.6);

}

/* Location */
.location-box .location {
  color: #fff;
  font-family: 'lollipoptron', sans-serif;
  font-size: 35px;
  text-align: left;
}

.empty-box {
  height: 25vh;
  color: #fff;
  font-family: 'lollipoptron', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 0;
}

.location-box .date {
  margin-top: 20px;
  color: #fff;
  font-family: 'lollipoptron', sans-serif;
  font-size: 20px;
  text-align: left;
}

/* Weather */
.weather-box {
  margin: 0;
  padding: 0;
  text-align: left;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin:  auto;

  margin-top: 65px;
  color: #fff;
  font-family: 'girl on an alley chmc', sans-serif;
  font-size: 118px;

  text-align: left;
}

.weather-box .weather {
  color: #fff;
  font-family: 'girl on an alley chmc', sans-serif;
  font-size: 57px;
  margin-top: 10px;
}